body{
    background-color:  silver;
}

img{
    width: 300%;
    height:300%;
}

h2{
    color: white;
}

p{
    text-align: center;
    color: orange;
    text-decoration: line-through;
    font-size: xx-small;
}

ul{
    color: brown;
}

li{
    color: purple;
}

table{
    color: red;
}

form{
    color: yellow;
}