body{
    background-color:  silver;
}

img{
    width: 300%;
    height:300%;
}

h2{
    color: white;
}

p{
    text-align: center;
    color: orange;
    text-decoration: line-through;
    font-size: xx-small;
}

ul{
    color: brown;
}

li{
    color: purple;
}

table{
    color: red;
}

form{
    color: yellow;
}

div{
    background-color: pink;
}

#blockOne{
    background-color: indigo;
}
.dablocks{
    background-color: lightsalmon;
}

#blockFour{
    background-color: gold;
}

#blockFive{
    background-color: lightskyblue;
}